<section class="card">
  
  <div class="card-body">
      
    </div>
   
    <img src="/images/{{paintings.[0].filename}}" alt="{{paintings.[0].description}}">
  
</section>

<div class="row>"
{{#each dealerHand}}
					<img src="../public/images/cardDeck">
				{{/each}}
</div>

  <img src="/images/{{Card.[0].filename}}" >
