

  <div class="PokerCards">
    <div class="Cards">
        <div class="Ace card"></div>
        <div class="King card"></div>
        <div class="Queen card"></div>
        <div class="Jack card"></div>
        <div class="Ten card"></div>
    </div>
    <div class="Hands">
        <div class="Index finger"></div>
        <div class="Middle finger"></div>
        <div class="Ring finger"></div>
        <div class="Pinky finger"></div>
    </div>
</div>



<div class="form-group">
        <button class="btn btn-primary" id="play" type="submit">Play</button>
      </div>

      <script src="./js/game.js"></script>

