

  <div class="poker">
    <div class="cards">
        <div class="ace card"></div>
        <div class="king card"></div>
        <div class="queen card"></div>
        <div class="jack card"></div>
        <div class="ten card"></div>
    </div>
    <div class="hand">
        <div class="index finger"></div>
        <div class="middle finger"></div>
        <div class="ring finger"></div>
        <div class="pinky finger"></div>
    </div>
</div>



<div class="form-group">
        <button class="btn btn-primary" type="submit">Play</button>
      </div>

